*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
    position: relative;
    display: flex;
    top: 0.2%;
   
}
/*------------ Navigation section ---------------------*/
header .nav-sec{
    background-color: rgb(31, 27, 27);
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    /* align-content: center; */
}
header .nav-sec nav{
    position: absolute;
    margin-left: 250px;
    margin-top: 10px;
    align-content: center;
}
header .nav-sec nav ul li{
    display: inline;
    justify-content:space-evenly;
    padding: 7px;
}
header .nav-sec nav ul li a{
    text-decoration: none;
    color: white;  
}
header .nav-sec nav ul li a{
    position: absolute;
    margin-top: 30px;
    
}
.userlogo{
    margin-left: 60px;
    margin-top: 30px;
}

.logo{
    position: absolute;
    margin-top: 0%;
    margin-left: -2px; 
}
.user{
    position: absolute;
    margin-top: 0%;
    margin-left: 82px;
}
.document{
    position: absolute;
    margin-top: 30px;
    margin-left: 170px;
}
.docu{
    position: absolute;
    margin-top: 0%;
    margin-left: 200px;
}
.changetext{
    margin-top: 30px;
    margin-left: 290px;
    text-align: justify;
}
.changelogo{
    position: absolute;
    margin-top: 0%;
    margin-left: 310px;
}
.chattext{
    margin-top: 30px;
    margin-left: 400px;
    text-align: justify;
}
.chatlogo{
    position: absolute;
    margin-top: 0%;
    margin-left: 420px;
}
.donatetext{
    margin-top: 30px;
    margin-left: 530px;
}
.donatelogo{
    position: absolute;
    margin-top: 0%;
    margin-left: 533px;
}
.copy{
    margin-top: 30px;
    margin-left: 600px;
}
.cplogo{
    position: absolute;
    margin-top: 0%;
    margin-left: 630px;
}
.shop{
    margin-top: 30px;
    margin-left: 735px;
}
.shopp{
    position: absolute;
    margin-top: 0%;
    margin-left: 785px;
}

/* --------------------Main section------------------- */
.container{
    position: absolute;
    margin-top: 70px;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 100%;
    background-color: rgb(43, 43, 45);
    color: white;
    
}
.container h1{
    margin-top: 50px;
    font-size: 43px;
    font-weight: 100;
}
 .user-container{ 
    position: absolute;
    width: 49%;
    height: 390px;
    margin-top: 300px;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    margin-left: 25%; 
    box-shadow: 0 0  3px rgb(59, 59, 59);
}
.twiter{
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: -30px;
}
.container p{
    padding: 10px;
    font-size: 20px;
}
.container p a{
    color: rgb(51, 113, 151);
}
img{
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: 0%;    
}
.twitp{
    font-size: 15px;
    color: rgb(190, 190, 190);
    cursor: pointer;
}
hr{
    margin-top: 110px;
}
.randomuser{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid rgb(74, 74, 74);
    position: absolute;
    margin-left: 285px;
    margin-top: 15px;
}
/*--------- Sponsered Section--------*/
.sponsored{
    height: 230px;
    width: 300px;
    position: absolute;
    border: 1px solid rgb(84, 83, 83);
    /* background-color: #007bff; */
    text-align: center;
    width: 49%;
    margin-left: 379px;
    margin-top: 48%;
    border-radius: 5px;
    justify-content: space-evenly;
    box-shadow: 0 0  3px rgb(59, 59, 59);
}
.sp{
    font-size: 13px;
    padding: 5px;
}
.sponsored h3{
    font-weight: 100;
    font-size: 25px;
    margin-top: 8px;
    padding: 10px;
}
.p1{
    padding: 10px;
}
.p2{
  margin-top: -10px;
}
.btn{
    cursor: pointer;
    padding: 15px 28px;
    background-color: rgb(128, 219, 128);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
}
/* ------------User show section----------------------- */
.user-con{
    height: 200px;
    width: 60%;
    /* margin-top: -20%; */
}
#user-image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-left: 39%;
    margin-top: -12%;
    padding: 4px;
    border: 1px solid rgb(96, 94, 94);
    box-shadow: 0 0 2px gray;
}
.user-container{
    margin-top: 20%;
}
.show-name{
    margin-left: 38%;
    margin-top: 13%;
}
.icon-container{
    height: 88px;
    width: 550px;
    /* background-color: wheat; */
    position: absolute;
    top: 290px;
    left: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon-container i{
    color: rgba(128,128, 128, 0.503);
    font-size: 30px;
    cursor: pointer;
    padding: 30px;
}
section .user-container #user-name{
    font-size: 20px;
    color: gray;
}
section .user-container #user-desc{
    font-size: 30px;
    color: black;
}
